:root {
    --primary-color: #00ED6A;
    --bg-color: #130f0d;
    --text-color: #f0f0f5;
    --light-color: rgba(255, 255, 255, 0.04); 
}

.principal {
    width: 600px;
    margin-left: 15%;
    margin-top: 100px;
    position: absolute;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    color: #f0f0f5;
}

form {
    background: transparent;

    width: 100%;
    max-width: 500px;

    border: 1px solid #ffffff;
    border-radius: 10px;

    margin: auto 15% auto auto;
    padding: 32px 64px;

    display: flex;
    flex-direction: column;
}



div.input {
    margin-bottom: 24px;
    position: relative;
}

input,
button {
    /* reset appearance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* box */
    width: 100%;

    padding: 16px 0;

    border:none;
    border-bottom: 1px solid var(--primary-color);

    background-color: transparent;

    outline: none;

    /* text */
    color: var(--text-color);
    font-size: 2em;

}

button {
    margin-top: 16px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

p{
    margin-top: 20px;
    text-align: center;
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    color: rgba(255, 255, 255, 0.6) ;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 1em;
    letter-spacing: 0.1em;
}


.input span.error {
    display: flex;
    
    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid #00ED6A;
    padding: 0.4em;
}